atari-py==0.2.9
bleach==5.0.1
boto==2.49.0
boto3==1.26.74
botocore==1.29.74
bz2file==0.98
certifi==2023.3.28
chardet==3.0.4
cycler==0.11.0
decorator==5.1.1
docutils==0.17.1
entrypoints==0.4
enum34==1.1.10
future==0.18.3
gensim==4.3.1
graphviz==0.20.1
gym==0.25.2
h5py==3.8.0
html5lib==1.1
idna==3.4
invoke==1.7.0
ipykernel==6.22.0
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.4
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==8.2.0
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyterlab==3.6.3
jupyterlab-launcher==0.13.1
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
mistune==2.0.5
nbconvert==7.4.0
nbformat==5.8.0
networkx==3.1
nltk==3.8.1
notebook==7.0.0
numpy==1.24.3
opencv-python==4.7.0.72
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
protobuf==4.23.2
ptyprocess==0.7.0
pydot==1.4.2
pydot-ng==2.0.0
pydotplus==2.0.2
pyglet==1.5.27
Pygments==2.15.1
PyOpenGL==3.1.6
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.4.3
requests==2.31.0
s3transfer==0.6.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
simplegeneric==0.8.1
six==1.16.0
smart-open==6.3.0
tabulate==0.9.0
tensorflow-gpu==2.12.0
tensorboard==2.12.0
terminado==0.17.1
testpath==0.6.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
urllib3==2.0.3
wcwidth==0.2.6
Werkzeug==2.3.6
widgetsnbextension==4.0.5